
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #1a73e8;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}


.navbar ul {
    display: flex;
    list-style: none;
    background-color: #333;
    padding: 10px;
    justify-content: center;
}


.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.welcome {
    padding: 20px;
    background-color: #f0f8ff; 
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome h1,
.welcome p {
    text-align: center;
    margin: 10px 0;
    
}

.intro{
    text-align: justify;
    max-width: 970px;
    margin-left: 200px;
    
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}
